services:
  line-bot:
    build: .
    container_name: line-bot
    env_file:
      - .env
    expose:
      - "8000"
    restart: always

  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - line-bot
    restart: always
