services:
  line-bot:
    build: .
    container_name: line-bot
    env_file:
      - .env
    environment:
      - REPO_URL=https://github.com/Tong3934/line-asst.git
      - BRANCH=main
      - PORT=8000
    expose:
      - "8000"
    volumes:
      - app-data:/app
    restart: always

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    command: 
      - "http"
      - "line-bot:8000"
      - "--log=stdout"
    environment:
      # ดึงค่าตรงๆ จาก .env ของเครื่อง Host
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    # เพิ่ม DNS เพื่อแก้ปัญหา x509: certificate signed by unknown authority
    dns:
      - 8.8.8.8
      - 1.1.1.1
    depends_on:
      - line-bot
    restart: always

volumes:
  app-data: