services:
  line-bot:
    build: .
    container_name: line-bot
    env_file:
      - .env
    expose:
      - "8000"
    restart: always

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    command:
      - "http"
      - "line-bot:8000"
      - "--log=stdout"
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    depends_on:
      - line-bot
    restart: always
