services:
  line-bot:
    build: .
    container_name: line-bot
    env_file:
      - .env
    environment:
      - REPO_URL=https://github.com/Tong3934/line-asst.git
      - BRANCH=main
    expose:
      - "8000"
    volumes:
      - app-data:/app
    restart: always

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    command: >
      http line-bot:8000
      --log=stdout
    env_file:
      - .env
    ports:
      - "4040:4040"
    depends_on:
      - line-bot
    restart: always


volumes:
  app-data:
